<div id="load-overlay-sidebar"></div>
<div class="sidebar-wrapper">

  <div class="block-md-v">
    <div class="block-md-v block-center">

      <h3><a href="/">Home</a></h3>
    </div>
  </div>

  <hr class="divider"></hr>

  <div class="block-md-v">
    <div class="block-sm-v block-center">

      <h3><a href="/login">Login</a></h3>
    </div>
  </div>

  <hr class="divider"></hr>

  <div class="block-md-v">
    <div class="block-sm-v block-center">
      <h3><a href="/profile">Profile</a></h3>
    </div>
  </div>

  <hr class="divider"></hr>

  <div class="block-md-v">
    <div class="block-sm-v block-center">
      <h3><a href="/tree">Docs</a></h3>
    </div>
  </div>


</div>
