/*
    grid.scss
    Grid layout stylesheet.
*/

// 12-column grid width %
$col-width: 8.33%;

// Grid container that must be used as parent block container
// for row and columns.
.container {
  margin: auto;
  width: 100%;
  max-width: $screen-width;
}

// Rows (Must preceed columns)
.row { margin: $margin-md 0; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

// Default column styling
[class*='col-'] {
  float: left;
  min-height: 1px;            // Prevents stacking of empty columns
  width: $col-width;          // 12 Columns
}

// Normal column
.col-1 { width: $col-width; }
.col-2 { width: $col-width * 2; }
.col-3 { width: $col-width * 3; }
.col-4 { width: $col-width * 4; }
.col-5 { width: $col-width * 5; }
.col-6 { width: $col-width * 6; }
.col-7 { width: $col-width * 7; }
.col-8 { width: $col-width * 8; }
.col-9 { width: $col-width * 9; }
.col-10 { width: $col-width * 10; }
.col-11 { width: $col-width * 11; }
.col-12 { width: $col-width * 12; }

// Offset columns
.col-1-off-1 {
  @extend .col-1;
  margin-left: $col-width;
}
.col-1-off-2 {
  @extend .col-1;
  margin-left: $col-width * 2;
}
.col-1-off-3 {
  @extend .col-1;
  margin-left: $col-width * 3;
}
.col-1-off-4 {
  @extend .col-1;
  margin-left: $col-width * 4;
}
.col-1-off-5 {
  @extend .col-1;
  margin-left: $col-width * 5;
}
.col-1-off-6 {
  @extend .col-1;
  margin-left: $col-width * 6;
}
.col-1-off-7 {
  @extend .col-1;
  margin-left: $col-width * 7;
}
.col-1-off-8 {
  @extend .col-1;
  margin-left: $col-width * 8;
}
.col-1-off-9 {
  @extend .col-1;
  margin-left: $col-width * 9;
}
.col-1-off-10 {
  @extend .col-1;
  margin-left: $col-width * 10;
}
.col-1-off-11 {
  @extend .col-1;
  margin-left: $col-width * 11;
}

.col-2-off-1 {
  @extend .col-2;
  margin-left: $col-width;
}
.col-2-off-2 {
  @extend .col-2;
  margin-left: $col-width * 2;
}
.col-2-off-3 {
  @extend .col-2;
  margin-left: $col-width * 3;
}
.col-2-off-4 {
  @extend .col-2;
  margin-left: $col-width * 4;
}
.col-2-off-5 {
  @extend .col-2;
  margin-left: $col-width * 5;
}
.col-2-off-6 {
  @extend .col-2;
  margin-left: $col-width * 6;
}
.col-2-off-7 {
  @extend .col-2;
  margin-left: $col-width * 7;
}
.col-2-off-8 {
  @extend .col-2;
  margin-left: $col-width * 8;
}
.col-2-off-9 {
  @extend .col-2;
  margin-left: $col-width * 9;
}
.col-2-off-10 {
  @extend .col-2;
  margin-left: $col-width * 10;
}

.col-3-off-1 {
  @extend .col-3;
  margin-left: $col-width;
}
.col-3-off-2 {
  @extend .col-3;
  margin-left: $col-width * 2;
}
.col-3-off-3 {
  @extend .col-3;
  margin-left: $col-width * 3;
}
.col-3-off-4 {
  @extend .col-3;
  margin-left: $col-width * 4;
}
.col-3-off-5 {
  @extend .col-3;
  margin-left: $col-width * 5;
}
.col-3-off-6 {
  @extend .col-3;
  margin-left: $col-width * 6;
}
.col-3-off-7 {
  @extend .col-3;
  margin-left: $col-width * 7;
}
.col-3-off-8 {
  @extend .col-3;
  margin-left: $col-width * 8;
}
.col-3-off-9 {
  @extend .col-3;
  margin-left: $col-width * 9;
}

.col-4-off-1 {
  @extend .col-4;
  margin-left: $col-width;
}
.col-4-off-2 {
  @extend .col-4;
  margin-left: $col-width * 2;
}
.col-4-off-3 {
  @extend .col-4;
  margin-left: $col-width * 3;
}
.col-4-off-4 {
  @extend .col-4;
  margin-left: $col-width * 4;
}
.col-4-off-5 {
  @extend .col-4;
  margin-left: $col-width * 5;
}
.col-4-off-6 {
  @extend .col-4;
  margin-left: $col-width * 6;
}
.col-4-off-7 {
  @extend .col-4;
  margin-left: $col-width * 7;
}
.col-4-off-8 {
  @extend .col-4;
  margin-left: $col-width * 8;
}

.col-5-off-1 {
  @extend .col-5;
  margin-left: $col-width;
}
.col-5-off-2 {
  @extend .col-5;
  margin-left: $col-width * 2;
}
.col-5-off-3 {
  @extend .col-5;
  margin-left: $col-width * 3;
}
.col-5-off-4 {
  @extend .col-5;
  margin-left: $col-width * 4;
}
.col-5-off-5 {
  @extend .col-5;
  margin-left: $col-width * 5;
}
.col-5-off-6 {
  @extend .col-5;
  margin-left: $col-width * 6;
}
.col-5-off-7 {
  @extend .col-5;
  margin-left: $col-width * 7;
}

.col-6-off-1 {
  @extend .col-6;
  margin-left: $col-width;
}
.col-6-off-2 {
  @extend .col-6;
  margin-left: $col-width * 2;
}
.col-6-off-3 {
  @extend .col-6;
  margin-left: $col-width * 3;
}
.col-6-off-4 {
  @extend .col-6;
  margin-left: $col-width * 4;
}
.col-6-off-5 {
  @extend .col-6;
  margin-left: $col-width * 5;
}
.col-6-off-6 {
  @extend .col-6;
  margin-left: $col-width * 6;
}

.col-7-off-1 {
  @extend .col-7;
  margin-left: $col-width;
}
.col-7-off-2 {
  @extend .col-7;
  margin-left: $col-width * 2;
}
.col-7-off-3 {
  @extend .col-7;
  margin-left: $col-width * 3;
}
.col-7-off-4 {
  @extend .col-7;
  margin-left: $col-width * 4;
}
.col-7-off-5 {
  @extend .col-7;
  margin-left: $col-width * 5;
}

.col-8-off-1 {
  @extend .col-8;
  margin-left: $col-width;
}
.col-8-off-2 {
  @extend .col-8;
  margin-left: $col-width * 2;
}
.col-8-off-3 {
  @extend .col-8;
  margin-left: $col-width * 3;
}
.col-8-off-4 {
  @extend .col-8;
  margin-left: $col-width * 4;
}

.col-9-off-1 {
  @extend .col-9;
  margin-left: $col-width;
}
.col-9-off-2 {
  @extend .col-9;
  margin-left: $col-width * 2;
}
.col-9-off-3 {
  @extend .col-9;
  margin-left: $col-width * 3;
}

.col-10-off-1 {
  @extend .col-10;
  margin-left: $col-width;
}
.col-10-off-2 {
  @extend .col-10;
  margin-left: $col-width * 2;
}

.col-11-off-1 {
  @extend .col-11;
  margin-left: $col-width;
}
