<div class="sidebar-button-container">
  <div id="menu-toggle-button" type="button" class="header-sidebar-icon">
    <a id="menu-toggle" class="sidebar-icon-anchor">
      <span class="sidebar-icon-bar"></span>
      <span class="sidebar-icon-bar"></span>
      <span class="sidebar-icon-bar"></span>
    </a>
  </div>
</div>
